#board
{
padding-top: 3em;
text-align: center;
}
.row>div
{
height: 100px;
width: 100px;
float: left;
}
.cell{
    font-size: 80px;
}
.row{
    clear: both;
    margin: 0 auto;
    width: 303px;
}
 .top
{
    border-bottom: 1px black solid;
}
.center{
    border-bottom: 1px black solid;
}
.left
{
    border-right: 1px solid black;
}
.right
{
  border-left: black 1px solid;
} 
